body, html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* disables scrolling */
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b0f1a;
  font-family: "Inter", sans-serif;
}

.auth-card {
  width: 100%;
  max-width: 430px;
  padding: 45px 40px;
  background: #101624;
  border-radius: 8px;
  border: 1px solid #1e2a3c;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: 0.3s;
}

@media (min-width: 1600px) {
  .auth-card {
    transform: scale(1.05);
  }
}


.auth-icon {
  font-size: 35px;
  color: #3C83F6;
  margin-bottom: 15px;
}

.auth-main-title {
  color: #e3e8ef;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
}

.auth-subtitle {
  color: #8fa1bd;
  font-size: 14px;
  margin-bottom: 25px;
}


.auth-tabs {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 6px;
  background: #1a2233;
  overflow: hidden;
  border: 1px solid #253249;
  padding: 4px;
}

.auth-tab {
  flex: 1;
  padding: 10px 0;
  color: #97a6bd;
  text-decoration: none;
  font-size: 15px;
  border-right: 1px solid #253249;
  transition: 0.2s;
}

.auth-tab:last-child {
  border-right: none;
}

.auth-tab.active {
  background: #0d1422;
  color: #fff;
  font-weight: 600;
}

.auth-tab:hover {
  background: #0f1828;
}


.auth-label {
  color: #c7d1e0;
  font-size: 14px;
  margin: 10px 0;
  display: block;
  text-align: left;
}


.auth-input {
  width: 398.4px;
  padding: 13px 15px;
  font-size: 15px;
  text-align: left;
  background: #0d1422;
  border: 1px solid #253249;
  border-radius: 8px;
  color: #e3e8ef;
  transition: border 0.2s, box-shadow 0.2s;
}

.auth-form {
  text-align: left;
  width: 100%;
}

.auth-input::placeholder {
  color: #92a1b6;
}

.auth-input:focus {
  border-color: #3a7bd5;
  box-shadow: 0 0 5px rgba(58, 123, 213, 0.4);
}


.auth-button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #3a7bd5;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s;
}

.auth-button:hover {
  background: #4c8ef0;
}

.auth-button a {
  text-decoration: none;
  color: white;
}


.auth-text {
  margin-top: 18px;
  font-size: 14px;
  color: #8fa1bd;
}

.auth-link {
  color: #4c8ef0;
  margin-left: 4px;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-card {
    max-width: 90%;
    padding: 35px 30px;
  }
}

@media (max-width: 450px) {
  .auth-card {
    max-width: 100%;
    padding: 28px 22px;
  }

  .auth-main-title {
    font-size: 22px;
  }
}