.friends-container {
  font-family: 'Inter', sans-serif;
  padding: 0px 20px;
  color: #fff;
  height: 100%;
  background: #131720;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.friends-header h2 {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 24px;
}

.add-friend-btn {
  background: #3C83F6;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.friends-box {
    border: 1px solid #333C4D;
    padding: 20px;
    border-radius: 8px;
    background: #1D232F;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start; 
    overflow-y: auto; 
    gap: 10px; 
}

.friend-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #2b3745;
}

.friend-row:last-child {
  border-bottom: none;
}

.friend-info {
  display: flex;
  align-items: center;
}

.friend-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 14px;
}

.friend-name {
  font-size: 16px;
  font-weight: 500;
}

.write-btn {
  background: none;
  border: none;
  color: #4a90e2;
  font-weight: 600;
  cursor: pointer;
}

.friends-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  padding: 60px 10px;
  opacity: 0.8;
}


.friends-empty-icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.friends-empty-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.friends-empty-text {
  font-size: 14px;
  color: #ccc;
}


.friends-search-box {
  border: 1px solid #333C4D;
  padding: 20px;
  border-radius: 8px;
  background: #1D232F;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.friends-search-box label {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.friends-search-box input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #333C4D;
  background: #131720;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.friends-search-box input::placeholder {
  color: #777;
}

.search-btn {
  width: 120px;
  align-self: flex-end;
  background: #3C83F6;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}


.search-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-row input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #333C4D;
  background: #131720;
  color: #fff;
  font-size: 15px;
}

.search-btn {
  padding: 12px 20px;
  background: #3C83F6;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}