.settings-page {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0px 20px;
  background: #131720;
  font-family: 'Inter', sans-serif;
}



.settings-title {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.settings-card {
  background: #1D232F;
  border: 1px solid #1b2433;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #333C4D;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 10px;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

.profile-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
}

.inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #9fb4d1;
}

input {
  background: #0d1420;
  border: 1px solid #1d2532;
  color: #dce6f5;
  padding: 10px;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #4d8df5;
}
