.encryption-page {
  font-family: 'Inter', sans-serif;
  padding: 0px 20px;
  color: #fff;
  height: 100%;
  background: #131720;
}

.main-content h2 {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 24px;
}

.sidebar {
  width: 220px;
  background: #171C26;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.sidebar-logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-item {
  background: #151c29;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #9fb4d1;
  cursor: pointer;
  text-align: left;
}

.sidebar-item.active {
  background: #0d1420;
  color: #fff;
}

.compose-btn {
  margin-top: auto;
  background: #3C83F6;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.logout-btn {
  margin-top: 10px;
  background: transparent;
  border: none;
  color: #3C83F6;
  cursor: pointer;
}
.encryption-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.encryption-header h2 {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 24px;
}
.encryption-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  background: #1D232F;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #333C4D;
}

.option {
  display: flex;
  border: 1px solid #2e3a4f;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  background: #1D232F;
}

.option input {
  display: none;
}

.option-content {
  margin-left: 10px;
}

.option-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

.recommended {
  background: #3C83F6;
  color: #fff;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 30px;
}

.option-desc {
  font-size: 13px;
  color: #9aa4b2;
  margin-top: 4px;
}

.option input[type="radio"] {
  display: inline-block; 
  margin-right: 12px;    
  margin-top: 4px;       
  accent-color: #3C83F6; 
}

.option:hover {
  border-color: #4d8df5;
}
